html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

.menu_text {
	font-style: normal;
	text-decoration: none;
	font-size: 16px;
	color: white;
	margin: 1em;
}

.menu_bar {
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	width: 100%;
	background-color: blue;
} 

.menu_icon {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	height: 100%;
	width: 100px;
}

.menu_icon:hover {
	background-color: grey;
}

.menu_icon_image {
	width: 30px;
	height: 30px;
	margin: auto;
	margin-top: 33.3px;
	margin-bottom: 33.3px;
	margin-right: 33.3px;
	margin-left: 33.3px;
}

.logo_icon {
	display: inline-block;
	vertical-align: middle;
}

.main_menu {
	display: inline-block;
	margin-left: 40px;
}

.search_bar {
	display: inline-block;
	margin-left: 100px;
	margin-right: 20px;
	height: 100%;
}

.input {
	border-radius: 25px;
	height: 25%;
}

.opened_side_menu {
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: yellow;
}

.main_content {
	display: inline-block;
	width: 80%;
	height: 100%;
	background-color: orange;
}

@media screen and (max-width: 1024px) {
	.opened_side_menu {
		width: 0%;
	}
	.main_content {
		width: 100%;
	}
}
